body {

    background-image: url('background/background.png');
    background-size: cover;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

canvas {
    background-color: black;
}

h1 {
    font-family: 'zabars';
}